th {
  background-color: #2b3a55 !important;
  background-color: #4b4a4a !important;
  color: white !important;
}

tr {
    background-color: #F8FAFB;
}

.ant-table-cell.table_a {
  font-weight: bold;
  background-color: #F8FAFB;
}


  